* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

img {
    height: 200px;
    margin-bottom: 50px;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
}

#likeBtn{
    width: 15vw;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    font-size: large;
    border-radius: 20px;
    border: none;
} */

